**/.DS_Store
**/.ipynb_checkpoints
.vscode
.venv
data
settings.json
.mapbox_token
**/Basisdata_0000_Norge_25833_N2000Kartdata_FGDB
**/Basisdata_0000_Norge_25833_MatrikkelenBygning_FGDB.gdb
**/Basisdata_0000_Norge_25833_MatrikkelenAdresse_FGDB.gdb